
/******navbar******/
ul.perfil {
    list-style: none;
}

    ul.perfil li.dropdown a.dropdown-toggle.perfil {
        color: #FFF;
    }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #0057a4;
    position:absolute;z-index:99000;
}

a.dropdown-toggle.perfil img.phoperfil {
    margin-right: 9px;
}

img.navbar-image:hover: {
    color: #FFF;
}


/***menu***/

.menu-ix {
    width: 100%;
    margin-top: 42px;
}

    .menu-ix h3 {
        background: #0B2265;
        padding: 18px 30px;
        margin: 0;
        color: #FFF;
        font-weight: normal;
    }

.list {
    background: #FFF;
    width: 100%;
    border: 1px solid #b8babc;
    height: 300px;
    overflow: auto;
}

ul.all-list {
    list-style: none;
}

    ul.all-list li {
        padding: 16px 32px;
    }

        ul.all-list li a {
            color: #9fa1a4;
        }

    ul.all-list img {
        margin-right: 7px;
    }

ul.nav.navbar-nav.menu {
    margin: 0 4%;
}

li.dropdown a.dropdown-toggle {
    color: #FFF;
}

    li.dropdown a.dropdown-toggle:hover {
        color: #FFF;
    }

ul.nav.navbar-nav.menu li.dropdown {
    border-right: 1px #3883c6 solid;
}

.navbar-nav > li > a {
    padding: 25px 33px;
}

    .navbar-nav > li > a > i {
        padding-right: 4px;
    }

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: #FFF;
        /*border-bottom: 4px solid #fe6903;*/
    }



@media (max-width: 480px) {
    /*.embed-container {
        padding-bottom: 180%;
    }*/
z
    #cz-form-step-image-text-left a, #cz-form-step-image-text-center a, #cz-form-step-image-text-right a {
        font-size:10px;    
    }
    
}

.btn-group > .multiselect-container {
    overflow: auto;
    max-height: 300px;
    position:absolute;z-index:99000;
}

    .btn-group > .multiselect-container > li > a {
        color: #000;
        position:absolute;z-index:99000;
    }
.btn-group .open {
    position: absolute;
    z-index: 99000;
}