
/*2015-05-15*/

.ep {
  float: left;
  width: 1em;
  height: 1em;
  background-color: #994466;
  cursor: pointer;
}

.component 
{
	position: absolute;
	background-color:white; 
	color:black; 
	font-family:helvetica; 
	padding:0.5em; 
}

.window { width:140px; z-index:18; margin:0px; padding:0px;	 font-size:0.8em; min-height: 100px; }
.window:hover{ cursor:move; }

.nodoInicio 
{
	width:58px; 
	height:58px;
	z-index:4; margin:0px; padding:0px; 	 
	font-size:0.8em; 
	background-image:url(../imagery/field/circulos.png); 
	background-position: 0 0; 
	top: 0px;
	left: 10px;
	z-index:-1;
}
.nodoInicio .texto
{
    text-align:center;
    padding-top:20px;
    font-weight:bold;
 }
.nodoFin  
{
    z-index:4; 
    margin:0px; 
    padding:0px; 
    width:58px; 
    height:58px;
    font-size:0.8em; 
    background-position: 0 -58px; 
    background-image:url(../imagery/field/circulos.png);  left:300px;
    z-index:-1;
    }
.nodoFin .texto 
{
    text-align:center;	
    padding-top:20px; 
    font-weight:bold;	
 }

.epPos 
{
	background: url("../imagery/field/connect.png") no-repeat scroll 0 0 transparent;
	width: 29px;
	height: 29px;
	position: absolute;
	left: 140px;
	top: 41px;
	background-size: 10px;
}

.tituloPantalla { margin:0px; padding:1px; color:#FFF;  text-align:center; font-weight:bold; cursor:pointer ; }
.tituloPantalla span{color:White; }


.nombreCampo{ display: inline-block; width:100%; height:22px; text-align:left; padding: 0 0 0 5px; }
.movilControles{ background:url(../imagery/field/movilControles.png) no-repeat transparent; background-position: 0 0;  }
.LAB{ background-position: 0 1px !important; }
.C1{ background-position: 0 -21px !important; }
.C4{ background-position: 0 -42px !important; }
.C6{ background-position: 0 -63px !important; }
.AUC{ background-position: 0 -84px !important; }
.C2{ background-position: 0 -106px !important;   height: 20px; }
.CHG{ background-position: 0 -126px !important;   height: 20px;}
.C3{ background-position: 0 -167px !important; }
.C5{ background-position: 0 -188px !important; }
.C7{ background-position: 0 -209px !important; }
.BPR{ background-position: 0 -231px !important; }
.FOT{ background-position: 0 -251px !important; }
.FIR{ background-position: 0 -272px !important; }
.C8{ background-position: 0 -293px !important; }
.BQS{ background-position: 0 -314px !important; }
.C9{ background-position: 0 -339px !important; }

.removeControl 
{
  text-decoration: none;
  cursor: pointer;
  float: right;
}
.selected{border-width: 1px;border-style:solid;border-color: #BDC8CB;font-weight:normal !important;}



#C1
{
    
height: 30px;
line-height: 30px;
padding-left: 40px;
cursor: pointer;
background-image: url(../imagery/field/textfield_abc.png);
background-repeat: no-repeat;
border-radius: 2px;
background-position: 0;
background-size: 24px;
}
#C4
{
    
height: 30px;
line-height: 30px;
padding-left: 40px;
cursor: pointer;
background-image: url(../imagery/field/textfield_123.png);
background-repeat: no-repeat;
border-radius: 2px;
background-position: 0;
background-size: 24px;
}

#C6
{
    
height: 30px;
line-height: 30px;
padding-left: 40px;
cursor: pointer;
background-image: url(../imagery/field/textfield_1_23.png);
background-repeat: no-repeat;
border-radius: 2px;
background-position: 0;
background-size: 24px;
}


#C2
{
    
height: 30px;
line-height: 30px;
padding-left: 40px;
cursor: pointer;
background-image: url(../imagery/field/checkfield.png);
background-repeat: no-repeat;
border-radius: 2px;
background-position: 0;
background-size: 24px;
}


#C3
{
    
height: 30px;
line-height: 30px;
padding-left: 40px;
cursor: pointer;
background-image: url(../imagery/field/combobox.png);
background-repeat: no-repeat;
border-radius: 2px;
background-position: 0;
background-size: 24px;
}

#C5
{
    
height: 30px;
line-height: 30px;
padding-left: 40px;
cursor: pointer;
background-image: url(../imagery/field/calendar.png);
background-repeat: no-repeat;
border-radius: 2px;
background-position: 0;
background-size: 24px;
}

#C7
{
    
height: 30px;
line-height: 30px;
padding-left: 40px;
cursor: pointer;
background-image: url(../imagery/field/hora.png);
background-repeat: no-repeat;
border-radius: 2px;
background-position: 0;
background-size: 24px;
}

#C8
{
    
height: 30px;
line-height: 30px;
padding-left: 40px;
cursor: pointer;
background-image: url(../imagery/field/switch.png);
background-repeat: no-repeat;
border-radius: 2px;
background-position: 0;
background-size: 24px;
}

#C9
{
    
height: 30px;
line-height: 30px;
padding-left: 40px;
cursor: pointer;
background-image: url(../imagery/field/posicion.png);
background-repeat: no-repeat;
border-radius: 2px;
background-position: 0;
background-size: 24px;
}
