/* tables */
table.tablesorter {
	font-family:sans-serif;
	background-color: white;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 300px;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #0154A0;
	border: 1px solid #FFF;
    color:white;
    font-family: sans-serif;
	font-size: 12px;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url("../images/icons/grid/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url("../images/icons/grid/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
	background-image:url("../images/icons/grid/desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #0154A0;
}
#Examinar{
    background-color: #FFFFFF;
    padding: 0px 24px;
    margin-bottom: -5px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #7f858a;
}
#Examinar a{
    background-color: #0154A0;
    padding: 12px 27px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin-top: -14px;
    line-height: 1;
}
#Examinar input{
    display:none;
}

div#archivo {
    background: #0154A0;
    color: white;
    text-align: center;
    padding: 12px;
    width: 515px;
    border: 1px #fafafa solid;
    margin-left: -36px;
 }
div#Tamanio {
    background: #0154A0;
    color: white;
    text-align: center;
    padding: 12px;
    width: 228px;
 
        border: 1px #fafafa solid;
}
div#estado {
    background: #0154A0;
    color: white;
    text-align: center;
    padding: 12px;
    width: 228px;
 
     border: 1px #fafafa solid;
}
#form1 ul {
    list-style: none;
    margin: -3px 18px;
    margin-right: 94px;
}
#form1 ul li{
    background-color: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #EDEDED, #FFFFFF);
    background-image: -moz-linear-gradient(top, #333639, #303335);
    background-image: linear-gradient(top, #333639, #303335);
    border-top: 0px solid #3d4043;
    border-bottom: 1px solid #2b2e31;
    padding: 3px;
    height: 50px;
    position: relative;
}

#form1 ul li p.archivo{
    width: 441px;
    overflow: hidden;
    white-space: nowrap;
    color: #6F6A6A;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 60px;
}
#form1 ul li p.tamanios{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #6F6A6A;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 576px;
}
#form1 ul li p.progreso{
    width: 162px;
    border: 1px solid;
    height: 42px;
    overflow: hidden;
    white-space: nowrap;
    color: #6F6A6A;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    top: 4px;
    left: 803px;
}
#form1 ul li p.progreso i.label{
    top: 8px;
    left: 3px;
}
#form1 ul li img.correcto {
    width: 22px;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
    color: #6F6A6A;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 14px;
    left: 979px;
    display: none;
}
#form1 ul li img.eliminar {
    width: 25px;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    color: #6F6A6A;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 14px;
    left: 1012px;
    cursor: pointer;
}
#form1 ul li img.alerta {
    width: 25px;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    color: #6F6A6A;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 14px;
    left: 978px;
    cursor: pointer;
    display: none;
}
#form1 ul li div.menalerta {
    left: 0;
    position: fixed;
    top: 82px;
    width: 100%;
    z-index: 1001;
}
#form1 ul li div.content-popup {
    margin: 0px auto;
    margin-top: 0px;
    position: relative;
    padding: 10px;
    width: 435px;
    min-height: 250px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px #666666;
}
#form1 ul li div.cerrar {
    position: absolute;
    right: 19px;
    top: 11px;
    width: 16px;
}
#form1 ul li div.content-popup h1.data-fila {
     color: #FFFFFF;
    border-bottom: 1px solid #0154A0;
    margin-top: -6px;
    padding-bottom: 0px;
    background: #0154A0;
    height: 23px;
    text-align: -webkit-center;
    padding-top: 8px;
    border-radius: 6px;
}
#form1 ul li div.content-popup h1.data-error {
    color: #FFFFFF;
    border-bottom: 1px solid #0154A0;
    padding-bottom: 0px;
    background: #0154A0;
    height: 23px;
    text-align: -webkit-center;
    padding-top: 8px;
    border-radius: 6px;
}
#form1 ul li div.content-popup div.contenedor-fila {
    height: 100px;
    overflow: scroll;
}
#form1 ul li div.content-popup div.contenedor-data {
    height: 100px;
    overflow: scroll;
}
.popup-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display:none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

