﻿<%@ Page Language="C#" AutoEventWireup="True" Inherits=" Pedidos_Site.Reporte.cobranza.Reporte_asistencia_grid" Codebehind="grid.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta name="robots" content="noindex, nofollow, noarchive, noodp, nosnippet">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div id="divGridView" runat="server">
        <asp:Repeater ID="grdMant" runat="server">
            <HeaderTemplate>
                <table style="width: 100%" class="grilla table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th  nomb="WEB_CODIGO_COBRANZA">
                                <%= Model.bean.IdiomaCultura.getMensaje(Model.bean.IdiomaCultura.WEB_CODIGO_COBRANZA)%>
                            </th>
                            <th  nomb="VENDEDOR">
                                <%= Model.bean.IdiomaCultura.getMensaje(Model.bean.IdiomaCultura.WEB_VENDEDOR)%>
                            </th>
                            <th  nomb="VENDEDOR">
                                <%= Model.bean.IdiomaCultura.getMensaje(Model.bean.IdiomaCultura.WEB_GRUPO)%>
                            </th>
                            <th  nomb="WEB_CODIGO_CLIENTE">
                                <%= Model.bean.IdiomaCultura.getMensaje(Model.bean.IdiomaCultura.WEB_CODIGO_CLIENTE)%>
                            </th>
                            <th  nomb="WEB_CLIENTE">
                               <%= Model.bean.IdiomaCultura.getMensaje(Model.bean.IdiomaCultura.WEB_CLIENTE)%>
                            </th>
                            <th  nomb="WEB_TIPO">
                                <%= Model.bean.IdiomaCultura.getMensaje(Model.bean.IdiomaCultura.WEB_TIPO)%>
                            </th>
                          
                             <th nomb="WEB_TOTAL">
                                <%= Model.bean.IdiomaCultura.getMensaje(Model.bean.IdiomaCultura.WEB_TOTAL)%> S/.
                            </th>
                             <th nomb="WEB_PAGADO">
                                <%= Model.bean.IdiomaCultura.getMensaje(Model.bean.IdiomaCultura.WEB_PAGADO)%> S/.
                            </th>
                             <th nomb="WEB_SALDO">
                                <%= Model.bean.IdiomaCultura.getMensaje(Model.bean.IdiomaCultura.WEB_SALDO)%> S/.
                            </th>

                            <th nomb="WEB_TOTALDOLARES">
                                <%= Model.bean.IdiomaCultura.getMensaje(Model.bean.IdiomaCultura.WEB_TOTAL)%> $.
                            </th>
                             <th nomb="WEB_PAGADODOLARES">
                                <%= Model.bean.IdiomaCultura.getMensaje(Model.bean.IdiomaCultura.WEB_PAGADO)%> $.
                            </th>
                             <th nomb="WEB_SALDODOLARES">
                                <%= Model.bean.IdiomaCultura.getMensaje(Model.bean.IdiomaCultura.WEB_SALDO)%> $.
                            </th>
                            <th style="width: 40px;"> <%= Model.bean.IdiomaCultura.getMensaje(Model.bean.IdiomaCultura.WEB_DETALLE)%>
                            </th>
                           
                        </tr>
                    </thead>
                    <tbody>
            </HeaderTemplate>
            <ItemTemplate>
                <tr>
                       <td>
                        <%# Eval("COB_CODIGO")%>
                    </td>
                    <td>
                        <%# Eval("USR_NOMBRE")%>
                    </td>
                    <td>
                        <%# Eval("NOMBREGRUPO")%>
                    </td>
                    <td>
                        <%# Eval("CLI_CODIGO")%>
                    </td>
                    <td>
                        <%# Eval("CLI_NOMBRE")%>
                    </td>
                    <td>
                        <%# Eval("COB_TIPODOCUMENTO")%>
                    </td>
                   
                    <td>
                        <%# Eval("COB_MONTOTOTALSOLES")%>
                    </td>
                      <td>
                        <%# Eval("COB_MONTOPAGADOSOLES")%>
                    </td>
                    <td>
                        <%# Eval("SALDOSOLES")%>
                    </td>

                    <td>
                        <%# Eval("COB_MONTOTOTALDOLARES")%>
                    </td>
                      <td>
                        <%# Eval("COB_MONTOPAGADODOLARES")%>
                    </td>
                    <td>
                        <%# Eval("SALDODOLARES")%>
                    </td>
                  <%--  <td>
                          <a role="button" data-toggle="modal" style="cursor: pointer; display:<%# isExiste(Eval("LATITUD").ToString(), Eval("LONGITUD").ToString())%>" class="detGPS form-icon"
                            cod="<%# Eval("ID") %>">
                            <img src="../../imagery/all/icons/punto.png" border="0" title="GPS" /></a>
                    </td>--%>
                    <td>
                      
                             <a  style="cursor: pointer;" 
                             href="cobranzadet.aspx?codcobro=<%# Eval("COB_CODIGO") %>">
                            <img src="../../imagery/all/icons/detalle.png" border="0" title="Detalle " /></a>


                    </td>
                </tr>
            </ItemTemplate>
            <AlternatingItemTemplate>
                <tr class="alt">
                        <td>
                        <%# Eval("COB_CODIGO")%>
                    </td>
                     <td>
                        <%# Eval("USR_NOMBRE")%>
                    </td>
                       <td>
                        <%# Eval("NOMBREGRUPO")%>
                    </td>
                    <td>
                        <%# Eval("CLI_CODIGO")%>
                    </td>
                    <td>
                        <%# Eval("CLI_NOMBRE")%>
                    </td>
                    <td>
                        <%# Eval("COB_TIPODOCUMENTO")%>
                    </td>
                    <td>
                        <%# Eval("COB_MONTOTOTALSOLES")%>
                    </td>
                      <td>
                        <%# Eval("COB_MONTOPAGADOSOLES")%>
                    </td>
                    <td>
                        <%# Eval("SALDOSOLES")%>
                    </td>

                    <td>
                        <%# Eval("COB_MONTOTOTALDOLARES")%>
                    </td>
                      <td>
                        <%# Eval("COB_MONTOPAGADODOLARES")%>
                    </td>
                    <td>
                        <%# Eval("SALDODOLARES")%>
                    </td>
                  <%--  <td>
                        <a role="button" data-toggle="modal" style="cursor: pointer; display:<%# isExiste(Eval("LATITUD").ToString(), Eval("LONGITUD").ToString())%>" class="detGPS form-icon"
                            cod="<%# Eval("ID") %>">
                            <img src="../../imagery/all/icons/punto.png" border="0" title="GPS" /></a>

                           
                    </td>--%>
                     <td>
                       <a  style="cursor: pointer;" 
                             href="cobranzadet.aspx?codcobro=<%# Eval("COB_CODIGO") %>">
                            <img src="../../imagery/all/icons/detalle.png" border="0" title="Detalle " /></a>
                    </td>
                </tr>
            </AlternatingItemTemplate>
            <FooterTemplate>
                </tbody> </table>
            </FooterTemplate>
        </asp:Repeater>
    </div>
    <div id="divGridViewPagintator" class="paginator-table" runat="server">
        <div class="paginator-table-outer">
            <div class="paginator-table-inner">
                <div class="paginator-data">
                    <div class="cz-page-ant">
                        <p class="pagina-direccion">
                            <asp:Label ID="lbPaginaAnterior" CssClass="pagina-anterior" runat="server" Text="anterior"></asp:Label>
                        </p>
                    </div>
                    <div class="cz-page-now">
                        <a>Pagina</a>
                        <p class="pagina-actual">
                            <asp:TextBox ID="lbPagina" CssClass="pagina-editor" runat="server"></asp:TextBox>
                        </p>
                        <p class="pagina-direccion">
                            <span class="pagina-data">de </span>
                            <asp:Label ID="lbTpagina" class="pagina-maxima" runat="server" Text="1"></asp:Label>
                        </p>
                    </div>
                    <div class="cz-page-des">
                        <asp:Label ID="lbPaginaSiguiente" CssClass="pagina-siguiente" runat="server" Text="siguiente"></asp:Label></p>
                    </div>
                </div>
                <div class="paginator-data-search">
                    <img src="../../images/icons/loader/ico_loader-arrow-grey.gif" />
                    <p>
                        buscando resultados</p>
                </div>
            </div>
        </div>
        <div class="cz-table-expand">
            <div class="cz-table-expand-close-x">
                ×</div>
        </div>
    </div>
    </form>
</body>
</html>
