﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="Pedidos_Site.Reporte.equipo.infoequipo" Codebehind="infoequipo.aspx.cs" %>

<div>

    <asp:literal  id="litControls" runat="server"></asp:literal>
</div>