﻿<%@ WebHandler Language="C#" Class="recuperarVersion" %>

using System;
using System.Web;
using System.Configuration;
using System.IO;
using System.Xml;

public class recuperarVersion : IHttpHandler
{
    private static String COPYRIGHT = "Producto" +
                                    "</br>" +
                                    "</br>" +
                                    "© Entel Perú. Derechos reservados. Por favor lea nuestro convenio para el uso y privacidad del sitio." +
                                    "Condiciones de uso y privacidad de la página web." +
                                    "Servicio al Cliente : Lima : 0-800-1-8844 Provincias : 0-800-1-1110" +
                                    "Indicadores de Calidad en Centros Poblados Urbanos, mayor información aquí." +
                                    "Ver tarifas en OSIPTEL";

    public void ProcessRequest(HttpContext context)
    {
        context.Response.ContentType = "text/plain";
        context.Response.Write(mostrarVersiones());
    }

    public bool IsReusable
    {
        get
        {
            return false;
        }
    }
    #region VERSION
    private static string vacio(string valor)
    {
        if (valor == null || valor.Equals(""))
        {
            return "&nbsp;";
        }
        else
            return valor;
    }
    public static string mostrarVersiones()
    {
        string ubicacion_padre = "";
        string nombre = "";
        try
        {
            string sFilename = HttpContext.Current.Server.MapPath("~");
            ubicacion_padre = ConfigurationManager.AppSettings["ubicacion_version"];
            string[] niveles = ubicacion_padre.Split('/');
            if (niveles.Length == 0)
            {
                throw new Exception("parámetro sin datos");
            }
            else
            {
                nombre = niveles[niveles.Length - 1];
                for (int i = 0; i < niveles.Length - 1; i++)
                {
                    if (niveles[i].Equals(".."))
                    {
                        sFilename = Path.GetDirectoryName(sFilename);
                    }
                }

            }
            XmlDocument xmlDoc = new XmlDocument();
            xmlDoc.Load(sFilename + "/" + nombre);
            XmlElement rootElem = xmlDoc.DocumentElement; //Gets the root element, in your xml its "Root"
            if (rootElem != null)
            {
                string salida = "<div class='modal-header'><button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button><h3 id='myModalLabel'>Version</h3></div><div class='about'><p>" + COPYRIGHT + "</p><div class=derecha>suite:" + rootElem.Attributes["suite"].Value + "</br><table class='pretty-table' summary='Resumen de versiones'><caption>fecha:" + rootElem.Attributes["fecha"].Value + " por " + rootElem.Attributes["responsable"].Value + "</caption><tr><th scope='col'>Objeto</th><th scope='col'>version</th><th scope='col'>version base</th><th scope='col'>framework</th><th scope='col'>estado</th></tr>";
                for (int i = 0; i < rootElem.ChildNodes.Count; i++)
                {
                    string name = rootElem.ChildNodes[i].Attributes["name"].Value.ToString();
                    string version = rootElem.ChildNodes[i].ChildNodes[0].Attributes["value"].Value.ToString();
                    string versionBase = rootElem.ChildNodes[i].ChildNodes[1].Attributes["value"].Value.ToString();
                    string framework = rootElem.ChildNodes[i].ChildNodes[2].Attributes["value"].Value.ToString();
                    string estado = rootElem.ChildNodes[i].ChildNodes[3].Attributes["value"].Value.ToString();

                    salida = salida + "<tr" + (i % 2 == 0 ? "" : " class='alt'") + ">";
                    salida = salida + "<th scope='row'>" + vacio(name) + "</td>";
                    salida = salida + "<td>" + vacio(version) + "</td>";
                    salida = salida + "<td>" + vacio(versionBase) + "</td>";
                    salida = salida + "<td>" + vacio(framework) + "</td>";
                    salida = salida + "<td>" + vacio(estado) + "</td>";
                    salida = salida + "</tr>";
                }

                return salida + "</table></div></div>";
            }
            else
            {
                throw new Exception("no tiene contenido xml válido");
            }
        }
        catch (Exception e)
        {
            return "Problemas al cargar versiones, ubicacion_padre='" + ubicacion_padre + "': " + e.Message;
        }
    }
    #endregion

}